<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>MITHILESH K</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel = "icon" href =  "/images/logo.png"   type = "image/x-icon">

    </head>
    <header id="header">
      <img src="/images/logo2.png" alt="" style="height: 50px;">
      <div class="head-element" style="width:7%;text-align: center;">Officium</div> 
      <div style="justify-content:space-between;width:80%;"></div>  
      <div class="head-element" style="width:7%;text-align: center;" >Home</div>
      <div class="head-element" style="width:7%;text-align: center;" ><a href="/logout" style="color: black;text-decoration: none;">Logout</a></div>
      <div class="head-element" style="width:10%;text-align: center;" > <%= user.name  %></div>
    </header>
    <body>
        <div id="attractive_cont">
            <div id="landing-cont-left" >

            </div>
            <img src="/images/off.jpg" alt="" id="main-pic" width="40%">
            <div id="landing-cont-right" style="flex-basis:100%">

            </div>
        </div>
        
        <div id="Header1">

        </div>

        <div class="container">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>

        <div id="Header2" style="margin-top:30px;">

        </div>

        <div class="container2">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
        </div>

        <span>
            <!-- <h2>Jobs Available</h2> -->
        </span>
        
        
    </body>
</html>