<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>MITHILESH K</title>
        <link rel="stylesheet" href="../public/styles.css">
        <link rel = "icon" href =  "../public/images/logo.png"   type = "image/x-icon">

    </head>
    <header id="header">
      <img src="../public/images/logo2.png" alt="" style="height: 50px;">
      <div class="head-element" style="width:7%;text-align: center;">Officium</div> 
      <div style="justify-content:space-between;width:80%;"></div>  
      <div class="head-element" style="width:7%;text-align: center;" >Home</div>
      <div class="head-element" style="width:7%;text-align: center;" >Logout</div>
      <div class="head-element" style="width:10%;text-align: center;" >Mithilesh K</div>
    </header>
    <body>
          

        <div class="descrip">
           <h3>Description</h3>
        </div>

        
        <span>
            <!-- <h2>Jobs Available</h2> -->
        </span>
        
        
    </body>
</html>